<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/public/css/styles.css">
        <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>     
        <title>Matt'll Search It!</title>
    </head>
    <body>
    
        {{{ body }}}

    </body>
</html>