<div class="searchBox">
    <div class="searchLogo">
        <h1>
            Matt'll Search It
        </h1>
    </div>
    <div class="searchForm">
        <form action="/search" class="searchForm">
            <input type="text" class="searchTerm" name="searchTerm" />
            <input type="submit" class="searchSubmit" value=""/>
        </form>
    </div>
</div>
<div class="aboutMattll">
    Matt'll Search It for you, giving you a selection of specially curated gifs and urls for your query. <a href="/search?searchTerm=pierce">Try it out</a>
</div>