<div class="searchBox">
    <div class="searchLogo">
        <h1>
            Matt'll Search It
        </h1>
    </div>
    <div class="searchForm">
        <form action="/search" class="searchForm">
            <input type="text" class="searchTerm" name="searchTerm" />
            <input type="submit" class="searchSubmit" value=""/>
        </form>
    </div>
</div>
<div class="aboutMattll">
    Matt'll is proud to offer users a <a href="/search?searchTerm=safe">Safe Search</a> and an <a href="/search?searchTerm=pierce&mode=1">Incognito mode</a>.
</div>