<link rel="shortcut icon" href="http://d2wss9bif9q3el.cloudfront.net/389/671/images/favicon.gif" type="image/x-icon" />
<style>
    body {
        background: url({{backgroundGif}}) no-repeat center center fixed;
        -webkit-background-size: cover; 
        -moz-background-size: cover;
        -o-background-size: cover; 
        background-size: cover;
    }
</style>
<div class="searchBox">
    <div class="searchLogo">
        <h1>
            Matt'll Search It
        </h1>
    </div>
    <div class="searchForm">
        <form action="/search" class="searchForm">
            <input type="text" class="searchTerm" name="searchTerm" />
            <input type="submit" class="searchSubmit" value=""/>
        </form>
    </div>
</div>
<div class="aboutMattll">
    Matt'll is proud to offer users a <a href="/search?searchTerm=safe">Safe Search</a> and an <a href="/search?searchTerm=pierce&mode=1">Incognito mode</a>.
</div>