<div class="searchBox">
    <div class="searchLogo">
        <h1>
            Matt'll Search
        </h1>
    </div>
    <div class="searchForm">
        <form action="/search" class="searchForm">
            <input type="text" class="searchTerm" name="searchTerm" />
            <input type="submit" class="searchSubmit" value=""/>
        </form>
    </div>
</div>