/* Main Page CSS Styles */
body {
    margin: 0;
    overflow: auto;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 14px;
    background: url(http://i.imgur.com/xpqt0rt.gif) no-repeat center center fixed; 
    -webkit-background-size: cover; 
    -moz-background-size: cover;
    -o-background-size: cover; 
    background-size: cover;
}
.searchLogo {
    margin: 0 21px 0 0;
    display: inline-block;
}
    .searchLogo h1 {
        color: #00C5FF;
    }
.searchBox {
    margin: 20% auto;
    text-align: center;
}
.searchForm {
    background-color: #e5e5e5;
    padding: 5px 3px 0;
    display: inline-block;
}
.searchTerm {
    width: 490px;
    margin-top: 5px;
    margin-right: 0;
    margin-bottom: 3px;
    margin-left: 12px;
    border: 0;
    padding-top: 0;
    padding-right: 10px;
    padding-bottom: 0;
    padding-left: 0;
    max-height: 30px;
    outline: none;
    -webkit-appearance: none;
    border-right: 1px solid;
    border-color: #ccc;
    box-sizing: content-box;
    position: relative;
    height: 40px;
    border-right: 0;
    margin-left: 6px;
    padding-right: 4px;
}
.searchSubmit {
    height: 37px;
    width: 37px;
    border: 5px solid #00C5FF;
    background: #00C5FF url(http://www.bing.com/s/a/hpc14.png) no-repeat;
    background-position: -224px -53px;
    vertical-align: top;
    margin: 0 0 3px;
}