/* Main Page CSS Styles */
body {
    margin: 0;
    overflow: auto;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 14px; 
}
.searchLogo {
    margin: 0 21px 0 0;
    display: inline-block;
}
    .searchLogo h1 {
        color: #00C5FF;
    }
.searchBox {
    margin: 20% auto;
    text-align: center;
    background: rgba(229, 229, 229, 0.5);
    padding-left: 15px;
    padding-right: 15px;
}
.searchBoxResults {
    width: 100%;
    text-align: center;
    background: rgba(229, 229, 229, 0.5);
    padding-left: 15px;
    padding-right: 15px;
    position: fixed;
    z-index: 1;
}
.searchForm {
    padding: 5px 3px 0;
    display: inline-block;
}
.searchTerm {
    width: 490px;
    margin-top: 5px;
    margin-right: 0;
    margin-bottom: 3px;
    margin-left: 12px;
    border: 0;
    padding-top: 0;
    padding-right: 10px;
    padding-bottom: 0;
    padding-left: 0;
    max-height: 30px;
    outline: none;
    -webkit-appearance: none;
    border-right: 1px solid;
    box-sizing: content-box;
    position: relative;
    height: 40px;
    border-right: 0;
    margin-left: 6px;
    padding-right: 4px;
}
.searchSubmit {
    height: 37px;
    width: 37px;
    border: 5px solid #00C5FF;
    background: #00C5FF url(http://www.bing.com/s/a/hpc14.png) no-repeat;
    background-position: -224px -53px;
    vertical-align: top;
    margin: 0 0 3px;
}
.aboutMattll {
    position: fixed;
    bottom: 0;
    width: 100%; 
    color: #fff;
}
    .aboutMattll a {
        text-decoration: none;
    }
        .aboutMattll a:visited {
            color: #fff;
        }
        .aboutMattll a:hover {
            text-decoration: underline;
        }
a {
    text-decoration: none;
}
h3 {
    clear: both;
}
.clearfloat {
    clear: both;
}
.gifResultDiv {
    text-align: center;
    padding-top: 76px;
}
.biggif {
    width: 60%; 
    margin: 0 auto; 
    position: relative;
}
    .biggif img {
        width: 60%;
    }
.gifthumbs {
    width: 800px; 
    margin: 0 auto; 
    position: relative;
}
.gif {
    width: 180px;
    position: relative; 
    float: left;
}
    .gif img {
        width: 180px;
    }
.gifurl {
    word-wrap: break-word;
}
.noResults {
    padding-top: 76px; 
    text-align: center;
}
.noResults img {
    width: 100%;
}